<div>
{{#each activations}}
  <div class="form-list">
    <div class="form-group">
      <label>{{localize "PF2E.ActivationCost"}}</label>
      <select name="data.activations[{{@index}}].cost.value" data-dtype="String">
        {{#select cost.value}}
        <option value=""></option>
        {{#each ../activationCosts as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "PF2E.ActivationSpecificAction"}}</label>
      <input name="data.activations[{{@index}}].cost.specificAction.value" value="{{cost.specificAction.value}}" data-dtype="String">
    </div>
    
    <div class="form-group-stacked">
      <label>{{localize "PF2E.ActivationComponents"}}</label>
      <!-- TODO: allow spell trait for each component: spellTraits (can also include move trait); component can be empty as well but have spell traits -->
      <a class="trait-selector" data-options="../activationComponents"><i class="fas fa-edit"></i></a>
      <ul class="traits-list pf-value pf-large">
        {{#each data.traits.value as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </ul>
    </div>
  
    <div class="form-group">
      <label>{{localize "PF2E.ActivationTrigger"}}</label>
      <input name="data.activations[{{@index}}].trigger.value" value="{{trigger.value}}" data-dtype="String">
    </div>
  
    <div class="form-group">
      <label>{{localize "PF2E.ActivationRequirements"}}</label>
      <input name="data.activations[{{@index}}].requirements.value" value="{{requirements.value}}" data-dtype="String">
    </div>

    <div class="form-group">
      <label>{{localize "PF2E.ActivationOnset"}}</label>
      <select name="data.activations[{{@index}}].onset.value" data-dtype="String">
        {{#select onset.value }}
        <option value=""></option>
        {{#each ../durations as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  
    <div class="form-group">
      <label>{{localize "PF2E.ActivationFrequency"}}</label>
      <select name="data.activations[{{@index}}].frequency.value" data-dtype="String">
        {{#select frequency.value }}
        <option value=""></option>
        {{#each ../activationFrequencies as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    
    <div class="form-group">
      <label>{{localize "PF2E.ActivationCustomFrequency"}}</label>
      <input name="data.activations[{{@index}}].frequency.custom.value" value="{{frequency.custom.value}}" data-dtype="String">
    </div>
    
    <label>{{localize "PF2E.ActivationEffect"}}</label>
    {{editor content=effect.value target="effect.value" button=true owner=owner editable=editable}}
    <button type="button" class="remove-activation" data-index="{{@index}}">{{localize "PF2E.RemoveActivationLabel"}}</button>
  </div>
{{/each}}

<button type="button" class="add-activation">{{localize "PF2E.AddActivationLabel"}}</button>
</div>