<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF2E.ItemNamePlaceholder"}}"/></h1>
    </header>

    <article class="sheet-content">
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-tab-container="primary">
              <a class="item {{#if descriptionActive}}active{{/if}}" data-tab="description">{{localize "PF2E.ItemDescription"}}</a>
              <a class="item {{#if activationsActive}}active{{/if}}" data-tab="activations">{{localize "PF2E.ItemActivations"}}</a>
                {{#if hasDetails}}
                  <a class="item {{#if detailsActive}}active{{/if}}" data-tab="details">{{localize "PF2E.ItemDetails"}}</a>
                {{/if}}
            </nav>

            <div class="tab item-description active" data-tab="description">
                {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </div>

            <div class="tab activations active" data-tab="activations">
              {{> systems/pf2e/templates/items/activations.html}}
            </div>

            {{#if hasDetails}}
            <div class="tab item-details" data-tab="details">
                {{> (detailsTemplate)}}
            </div>
            {{/if}}
        </section>
    </article>
</form>
